/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }
/* #Images
================================================== */
	img.contained { 
		max-width: 100%;
		height: auto; }
		
	img.fluid { 
		width: 100%; }
		
	img.fullscreen { z-index:-9999; /*min-height:100%;*/ min-width:960px; width:100%; height:auto; position:fixed; bottom:0; left:0; }
	img.fullscreen_force { z-index:-9999; min-height:100%; min-width:960px; width:100%; height:auto; position:fixed; top:0; left:0; }
	
/* #Forms
================================================== */
	form { 
		margin-bottom: 20px; }
	fieldset { 
		margin-bottom: 20px; }
	input[type="text"], 
	input[type="password"],
	input[type="email"],
	textarea, 
	select {
		border: 1px solid #FFFFFF;
		padding: 6px 4px;
		outline: none;
		font: 14px 'proxima_nova_rgbold', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #777;
		margin: 0;
		width: 210px;
		max-width: 100%;
		display: block;
		background: #FFFFFF;
		-webkit-appearance: none; }
	select { 
		padding: 0; }
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus, 
	textarea:focus {
		border: 1px solid #FFFFFF;
 		color: #444;
 		-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
		-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
		box-shadow:  0 0 3px rgba(0,0,0,.2); }
	textarea {
		min-height: 60px; }
	label,
	legend { 
		display: block;
		font-weight: bold;
		font-size: 13px;  }
	select { 
		width: 220px; }
	input[type="checkbox"] {
		display: inline; }
	label span,
	legend span {
		font-weight: normal;
		font-size: 13px;
		color: #444; }
	
	input[type="text"].mput {
		border: 1px solid #db0000;
		padding: 6px 6px;
		outline: none;
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
		border-radius: 8px;
		color: #a80000;
		margin: 0;
		width: 244px;
		max-width: 100%;
		display: block;
		background: #db0000;
		-webkit-appearance: none; }
		
	input[type="text"]:focus.mput {
		border: 1px solid #FFFFFF;
 		color: #444;
		background: #FFFFFF;
 		-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
		-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
		box-shadow:  0 0 3px rgba(0,0,0,.2); }
		
	input[type="text"].fatinput {
		border: none;
		padding: 0px 0px;
		outline: none;
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		border-radius: 0px;
		color:#333333; 
		font-family: 'proxima_nova_rgbold', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; 
		font-size:26px;
		text-align:right !important;
		margin:0px;
		width:54px !important;
		height:40px;
		max-width: 54px;
		background:none;
		-webkit-appearance:none;
 		-moz-box-shadow: 0 0 0px rgba(0,0,0,0);
		-webkit-box-shadow: 0 0 0px rgba(0,0,0,0);
		box-shadow:  0 0 0px rgba(0,0,0,0); }
		
	input[type="text"]:focus.fatinput {
		border: none;
 		color: #444;
		background: none;
 		-moz-box-shadow: 0 0 0px rgba(0,0,0,0);
		-webkit-box-shadow: 0 0 0px rgba(0,0,0,0);
		box-shadow:  0 0 0px rgba(0,0,0,0); }
		
		
	input[type="text"].thinput {
		border: none;
		padding: 0px 0px 0px 2px;
		outline: none;
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		border-radius: 0px;
		color:#333333; 
		font-family: 'proxima_nova_rgbold', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; 
		font-size:16px;
		text-align:left !important;
		margin:0px;
		width:70px !important;
		height:20px;
		max-width: 70px;
		background:none;
		-webkit-appearance:none;
 		-moz-box-shadow: 0 0 0px rgba(0,0,0,0);
		-webkit-box-shadow: 0 0 0px rgba(0,0,0,0);
		box-shadow:  0 0 0px rgba(0,0,0,0); }
		
	input[type="text"]:focus.thinput {
		border: none;
 		color: #444;
		background: none;
 		-moz-box-shadow: 0 0 0px rgba(0,0,0,0);
		-webkit-box-shadow: 0 0 0px rgba(0,0,0,0);
		box-shadow:  0 0 0px rgba(0,0,0,0); }
		
		input[type="text"].thinput2 {
		border: none;
		padding: 0px 0px 0px 2px;
		outline: none;
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		border-radius: 0px;
		color:#333333; 
		font-family: 'proxima_nova_rgbold', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; 
		font-size:16px;
		text-align:left !important;
		margin:0px;
		width:98% !important;
		height:20px;
		max-width: 99%;
		background:none;
		-webkit-appearance:none;
 		-moz-box-shadow: 0 0 0px rgba(0,0,0,0);
		-webkit-box-shadow: 0 0 0px rgba(0,0,0,0);
		box-shadow:  0 0 0px rgba(0,0,0,0); }
		
	input[type="text"]:focus.thinput2 {
		border: none;
 		color: #444;
		background: none;
 		-moz-box-shadow: 0 0 0px rgba(0,0,0,0);
		-webkit-box-shadow: 0 0 0px rgba(0,0,0,0);
		box-shadow:  0 0 0px rgba(0,0,0,0); }
		
	/*Style for NOT CHECKED*/	
	span.rad{
	position: absolute;
	left: 15px;
	width: 25px;
	height: 25px;
	padding:3px;
	text-align: center;
	background: url('../../images/ui/radradio_nocheck.png') no-repeat 10px 10px;
	}
	 
	span.rad:after{
		/*content: "no"; if CSS are disbled span elements are not displayed*/
	}
	
	/*Style for CHECKED */
	input[type="radio"] {
		position: absolute;
		left: 15px;
		margin: 0;
		width: 31px;
		height: 31px;
		/*hide the radio button*/
		filter:alpha(opacity=0);
		-moz-opacity:0;
		-khtml-opacity: 0;
		opacity: 0;
		cursor: pointer;
	}
	 
	input[type="radio"] + span{ /*the span element that immediately follow the radio button */
		visibility: hidden; /*temporarily hide the "YES" label*/
		background: url('../../images/ui/radradio_checked.png') no-repeat 10px 10px;
	}
	 
	input[type="radio"] + span:after{
		/*content: "yes"; if CSS are disbled span elements are not displayed*/
	}
	 
	 
	input[type="radio"]:checked + span{
		visibility: visible; /*show the "YES" label only if the radio button is checked*/
	}
	
	.radlabel { padding-left:36px; }

	.mcheckbox {
		display:none !important;
	}
	
	/* Styles when NOT checked */
	.mcheckbox + label {
		background-color: #d2d2d3;
		border: 1px solid #d2d2d3;
		padding: 10px;
		margin-top:6px;
		border-radius: 3px;
		display: inline-block;
		position: relative;
	}
	
	.mcheckbox + label:active, .mcheckbox:checked + label:active {
		border: 1px solid #333;
	}
	
	/* Styles when checked */
	.mcheckbox:checked + label {
		background:#cd1c00 url('../../images/ui/checkmark.gif') 4px 4px no-repeat;	
		border: 1px solid #cd1c00;
		color: #FFF;
	}
	
	.mcheckbox:checked + label:after {
		/*content: '\2714';
		font-size: 14px;*/
		position: absolute;
		top: 0px;
		left: 3px;
		color: #FFF;
	}
		
/* #Buttons
================================================== */
	
	a.button, 
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
		background: #d2d2d3;
	  border: 1px solid #d2d2d3;
	  padding: 6px 11px 6px 11px;
	  margin:0px 4px 0px 4px;
	  -moz-border-radius: 8px;
	  -webkit-border-radius: 8px;
	  border-radius: 8px;
	  color: #FFFFFF;
	  display: inline-block;
	  font-size: 16px;
	  font-weight: normal;
	  text-decoration: none;
	  cursor: pointer;
	  line-height: 18px;
	  font-family: 'proxima_novasemibold', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }
	  
	a.button:hover, 
	button:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover {
		color: #FFFFFF;
		background: #444;
	  border: 1px solid #444; }
	  
  a.button:active, 
  button:active,
	input[type="submit"]:active,
	input[type="reset"]:active,
	input[type="button"]:active {
    background: #777;
    border: 1px solid #777; }
	
	
	  
	  .clearx { background: #d2d2d3 url('../../images/ui/clearx_pad.png') no-repeat right center !important; padding: 6px 31px 6px 11px !important; }
	  
	  .clearx:hover { background: #444 url('../../images/ui/clearx_pad.png') no-repeat right center !important; }
	  
	  .clearx:active { background: #777 url('../../images/ui/clearx_pad.png') no-repeat right center !important; }
	
	.button.full-width, 
	button.full-width,
	input[type="submit"].full-width,
	input[type="reset"].full-width,
	input[type="button"].full-width { 
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center; }
		
	a.button_edt {
		background: #a80000;
	  border: 1px solid #a80000;
	  padding: 6px 11px 6px 11px;
	  margin:0px 4px 0px 4px;
	  -moz-border-radius: 6px;
	  -webkit-border-radius: 6px;
	  border-radius: 6px;
	  color: #db0000;
	  display: inline-block;
	  font-size: 16px;
	  font-weight: normal;
	  text-decoration: none;
	  cursor: pointer;
	  line-height: 18px;
	  font-family: 'proxima_novasemibold', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }
	  
	a.button_edt:hover {
		color: #FFFFFF; }
	  
  a.button_edt:active {
    background: #860000;
    border: 1px solid #860000; }
	
/* #Icons */
.button_icon_add {
	  display: block;
	  font-size: 16px;
	  font-weight: normal;
	  text-decoration: none;
	  cursor: pointer;
	  line-height: 18px;
	  width:32px;
	  height:32px;
	  margin:0px 8px 0px 4px;
	  border: 1px solid #FFF;
	  -moz-border-radius: 6px;
	  -webkit-border-radius: 6px;
	  border-radius: 6px;
	  background: #FFF url('../../images/ui/addit.png') no-repeat center; }
	  
.button_icon_export {
	  display: block;
	  font-size: 16px;
	  font-weight: normal;
	  text-decoration: none;
	  cursor: pointer;
	  line-height: 18px;
	  width:30px;
	  height:28px;
	  margin:0px 8px 0px 8px;
	  /*border: 1px solid #FFF;
	  -moz-border-radius: 6px;
	  -webkit-border-radius: 6px;
	  border-radius: 6px;*/
	  background: url('../../images/ui/export.png') no-repeat center; }
	
/* #Misc
================================================== */
	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 10px !important; }
	.add-bottom { margin-bottom: 20px !important; }
	a, a:hover, a:link, a:active, a:visited { text-decoration:none; }

	.left { float: left; }
	.right { float: right; }
	.clear { clear:both; }
	
	.center_wrap { margin:auto; text-align:center; }
		
/* #Basic Styles
================================================== */
	html, body { 
		font: 14px/21px 'proxima_nova_rgregular', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #444; 
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: none;
		cursor:pointer;
		width:100%;
		min-height:100%;
		height:auto;
 }
 
 html {
	background-color: #eeeeee;
	background-image: url('../../images/backgrounds/section2bgv2.jpg');
	background-position: bottom;
	background-repeat:no-repeat !important;
	background-size:100%;
 }
 

 /* Load Fonts
==================================================*/
@font-face {
    font-family: 'proxima_novalight';
    src: url('../fonts/webfontkit-ProximaNova/proximanova-light-webfont.eot');
    src: url('../fonts/webfontkit-ProximaNova/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/webfontkit-ProximaNova/proximanova-light-webfont.woff') format('woff'),
         url('../fonts/webfontkit-ProximaNova/proximanova-light-webfont.ttf') format('truetype'),
         url('../fonts/webfontkit-ProximaNova/proximanova-light-webfont.svg#proxima_novalight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novasemibold';
    src: url('../fonts/webfontkit-ProximaNova/proximanova-semibold-webfont.eot');
    src: url('../fonts/webfontkit-ProximaNova/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/webfontkit-ProximaNova/proximanova-semibold-webfont.woff') format('woff'),
         url('../fonts/webfontkit-ProximaNova/proximanova-semibold-webfont.ttf') format('truetype'),
         url('../fonts/webfontkit-ProximaNova/proximanova-semibold-webfont.svg#proxima_novasemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../fonts/webfontkit-ProximaNova/proximanova-regular-webfont.eot');
    src: url('../fonts/webfontkit-ProximaNova/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/webfontkit-ProximaNova/proximanova-regular-webfont.woff') format('woff'),
         url('../fonts/webfontkit-ProximaNova/proximanova-regular-webfont.ttf') format('truetype'),
         url('../fonts/webfontkit-ProximaNova/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('../fonts/webfontkit-ProximaNova/proximanova-bold-webfont.eot');
    src: url('../fonts/webfontkit-ProximaNova/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/webfontkit-ProximaNova/proximanova-bold-webfont.woff') format('woff'),
         url('../fonts/webfontkit-ProximaNova/proximanova-bold-webfont.ttf') format('truetype'),
         url('../fonts/webfontkit-ProximaNova/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novablack';
    src: url('../fonts/webfontkit-ProximaNova/proximanova-black-webfont.eot');
    src: url('../fonts/webfontkit-ProximaNova/proximanova-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/webfontkit-ProximaNova/proximanova-black-webfont.woff') format('woff'),
         url('../fonts/webfontkit-ProximaNova/proximanova-black-webfont.ttf') format('truetype'),
         url('../fonts/webfontkit-ProximaNova/proximanova-black-webfont.svg#proxima_novablack') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novaextrabold';
    src: url('../fonts/webfontkit-ProximaNova/proximanova-extrabold-webfont.eot');
    src: url('../fonts/webfontkit-ProximaNova/proximanova-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/webfontkit-ProximaNova/proximanova-extrabold-webfont.woff') format('woff'),
         url('../fonts/webfontkit-ProximaNova/proximanova-extrabold-webfont.ttf') format('truetype'),
         url('../fonts/webfontkit-ProximaNova/proximanova-extrabold-webfont.svg#proxima_novaextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novaregular_italic';
    src: url('../fonts/webfontkit-ProximaNova/proximanova-regitalic-webfont.eot');
    src: url('../fonts/webfontkit-ProximaNova/proximanova-regitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/webfontkit-ProximaNova/proximanova-regitalic-webfont.woff') format('woff'),
         url('../fonts/webfontkit-ProximaNova/proximanova-regitalic-webfont.ttf') format('truetype'),
         url('../fonts/webfontkit-ProximaNova/proximanova-regitalic-webfont.svg#proxima_novaregular_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novalight_italic';
    src: url('../fonts/webfontkit-ProximaNova/proximanova-lightitalic-webfont.eot');
    src: url('../fonts/webfontkit-ProximaNova/proximanova-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/webfontkit-ProximaNova/proximanova-lightitalic-webfont.woff') format('woff'),
         url('../fonts/webfontkit-ProximaNova/proximanova-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/webfontkit-ProximaNova/proximanova-lightitalic-webfont.svg#proxima_novalight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novasemibold_italic';
    src: url('../fonts/webfontkit-ProximaNova/proximanova-semibolditalic-webfont.eot');
    src: url('../fonts/webfontkit-ProximaNova/proximanova-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/webfontkit-ProximaNova/proximanova-semibolditalic-webfont.woff') format('woff'),
         url('../fonts/webfontkit-ProximaNova/proximanova-semibolditalic-webfont.ttf') format('truetype'),
         url('../fonts/webfontkit-ProximaNova/proximanova-semibolditalic-webfont.svg#proxima_novasemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_rgbold_italic';
    src: url('../fonts/webfontkit-ProximaNova/proximanova-boldit-webfont.eot');
    src: url('../fonts/webfontkit-ProximaNova/proximanova-boldit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/webfontkit-ProximaNova/proximanova-boldit-webfont.woff') format('woff'),
         url('../fonts/webfontkit-ProximaNova/proximanova-boldit-webfont.ttf') format('truetype'),
         url('../fonts/webfontkit-ProximaNova/proximanova-boldit-webfont.svg#proxima_nova_rgbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

 /* #Typography
================================================== */
	h1, h2, h3, h4, h5, h6 { 
		color: #181818; 
		font-family: 'proxima_nova_rgregulart', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: normal; }
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { font-size: 46px; line-height: 50px; margin-bottom: 14px;}
	h2 { font-size: 35px; line-height: 40px; margin-bottom: 10px; }
	h3 { font-size: 28px; line-height: 34px; margin-bottom: 8px; }
	h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
	h5 { font-size: 17px; line-height: 24px; }
	h6 { font-size: 14px; line-height: 21px; }
	.subheader { color: #777; }

	p { margin: 0 0 20px 0; }
	p img { margin: 0; }
	p.lead { font-size: 21px; line-height: 27px; color: #777;  }
	
	em { font-style: italic; }
	strong { font-weight: bold; color: #333; }
	small { font-size: 80%; }
 

 /* Drop CPanel
==================================================*/
.dropshade { width:100%; height:100%; position:fixed; top:-99%; /*top:-10%;*/ left:0px; z-index:1000; background:none; }

.dropmenu_wrapper { display:block; width:auto; height:100%; background:#db0000; }
.dropmenu { }
	
.droptab_wrapper { display:block; width:auto; height:40px; margin-bottom:0px; clear:both; background:none; }
.droptab { 
		display:block; 
		min-width:230px; 
		width:auto; 
		height:62px; 
		background:#db0000; 
		clear:both; 
		float:right;
		border:1px solid #db0000;
		-moz-border-radius-bottomleft:16px;
		-webkit-border-bottom-left-radius:16px;
		border-bottom-left-radius:16px;
		-moz-border-radius-bottomright:16px;
		-webkit-border-bottom-right-radius:16px;
		border-bottom-right-radius:16px;
		position:relative;
		margin-right:40px;
		 }

.tabname { color:#FFF; font-family: 'proxima_nova_rgregular', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size:20px; line-height:54px; padding:0px 20px 0px 20px; margin-right:26px; }

#tabicon { display:block; width:20px; height:16px; background-image: url('../../images/ui/arrow_down_FFF.png'); background-repeat:no-repeat; position:absolute; top:18px; right:20px; }

.content_wrapper { padding:20px 40px 20px 40px; margin:auto; }

#profile_manager, #calculator { margin-bottom:0px; }

.list_title { 
	display:block; 
	position:relative; 
	width:auto; 
	height:auto; 
	margin:auto; 
	margin-top:120px; 
	padding:15px 20px 15px 20px; 
	background:#a80000; 
	border: 2px #a80000 solid;
	-moz-border-radius-topleft:16px;
	-webkit-border-top-left-radius:16px;
	border-top-left-radius:16px;
	-moz-border-radius-topright:16px;
	-webkit-border-top-right-radius:16px;
	border-top-right-radius:16px;
	position:relative;
}

.list_title h1 {
	color:#db0000; font-family: 'proxima_nova_rgregular', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size:24px; line-height:30px; margin:0px; padding:0px;
}


.addit { display:block; background:url('../../images/ui/addit.png') no-repeat; width:30px; height:30px; position:absolute; top:15px; right:25px; z-index:1100; }

.list_content { 
	display:block; 
	position:relative; 
	width:auto; 
	min-height:180px;
	height:auto; 
	margin:auto; 
	padding:8px 8px 20px 8px; 
	border: 2px #a80000 solid;
	-moz-border-radius-bottomleft:16px;
	-webkit-border-bottom-left-radius:16px;
	border-bottom-left-radius:16px;
	-moz-border-radius-bottomright:16px;
	-webkit-border-bottom-right-radius:16px;
	border-bottom-right-radius:16px;
	position:relative;
}

.list_item { display:block; clear:both; width:100%; height:30px; margin:auto; margin-top:10px; margin-bottom:10px; position:relative; /*background:rgba(0,0,0,.1);*/}

.item_name { display:block; width:633px; }
.item_name h2 { color:#FFFFFF; font-family: 'proxima_nova_rgregular', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size:18px; line-height:30px; margin:0px; margin-left:4px; padding:0px; padding-left:15px; background-color:none; z-index:1200;}

.item_name .active { 
background-color:#c50202; 
/*background-image:url('../../images/ui/item_selectedv2.png'); background-repeat:no-repeat;*/
	border: 1px solid #c50202;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	 }

.namedit_wrapper { width:633px; display:none; position:absolute; top:0px; left:0px; z-index:1300; }
.fit30 { margin-bottom:0px; }

input[type="text"].namedit {
		border: 1px solid #FFFFFF;
		padding: 4px 4px;
		padding-left:20px;
		font-size:18px;
		outline: none;
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
		border-radius: 8px;
		color: #444;
		margin: 0;
		margin-left:2px;
		width: 607px;
		max-width: 100%;
		display: block;
		background: #FFFFFF;
		-webkit-appearance: none; }
		
	input[type="text"]:focus.namedit {
		border: 1px solid #FFFFFF;
 		color: #444;
		background: #FFFFFF; }

.applyit { display:block; background:url('../../images/ui/item_selected.png') no-repeat; width:24px; height:30px; position:absolute; top:2px; right:8px; z-index:1400; }

.edt_controls_wrapper { width:auto; display:block; position:absolute; top:0px; right:8px; z-index:1300; }






.content { display:block; margin:10px 40px 10px 40px; width:auto; height:auto; }
.subcontent { display:block; margin:10px 70px 10px 70px; width:auto; height:auto; }

#masthead { margin-top:30px; }
.logo_msthd {  float:left; width:107px; height:28px; margin-right:13px; }
.tag { color:#535353; font-family: 'proxima_novalight', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size:16px; padding-top:2px; }

.spacer1 { clear:both; display:block; width:100%; height:30px; }
.spacer2 { clear:both; display:block; width:100%; height:60px; }
.spacer3 { clear:both; display:block; width:100%; height:45px; }
.spacer4 { clear:both; display:block; width:100%; height:10px; }
.spacer5 { clear:both; display:block; width:100%; height:15px; }
.spacer6 { clear:both; display:block; width:100%; height:20px; }
.spacer7 { clear:both; display:block; width:100%; height:50px; }

#tighten { display:block; }

hr {
    border: 0;
    height: 1px;
    background: #d6d6d5;
    background-image: -webkit-linear-gradient(left, #d6d6d5, #c4c4c2, #d6d6d5); 
    background-image: -moz-linear-gradient(left, #d6d6d5, #c4c4c2, #d6d6d5); 
    background-image: -ms-linear-gradient(left, #d6d6d5, #c4c4c2, #d6d6d5); 
    background-image: -o-linear-gradient(left, #d6d6d5, #c4c4c2, #d6d6d5); 
}

h2 { color:#888888; font-family: 'proxima_nova_rgregular', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; line-height:17px; margin:0px; padding:0px; }

h4 { color:#333333; font-family: 'proxima_nova_rgregular', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size:24px; line-height:40px; margin:0px; padding:0px; }

h5 { color:#888888; font-family: 'proxima_nova_rgregular', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size:13px; line-height:15px; margin:0px; padding:0px; }

h6 { color:#333333; font-family: 'proxima_nova_rgregular', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size:16px; line-height:20px; margin:0px; padding:0px; }

b { font-family: 'proxima_novasemibold', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }
strong { font-family: 'proxima_nova_rgbold', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }


p.intro {  color:#bbbbbb; font-family: 'proxima_nova_rgregular', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size:16px; line-height:15px; margin:4px; padding:4px; text-align:center; }

.halfed, .half2full { display:block; margin:0px; padding:0px; width:50%; float:left; text-align:center; height:auto; /*background:rgba(0,0,0,.3);*/ }
.overhalfed { display:block; margin:0px; padding:0px; width:60%; float:left; text-align:center; height:auto; /*background:rgba(0,0,0,.3);*/ }
.underhalfed { display:block; margin:0px; padding:0px; width:40%; float:left; text-align:center; height:auto; /*background:rgba(0,0,0,.3);*/ }

.round_wrapper { 
	display:block; 
	margin:0px; 
	padding:0px;
	width:100%;
	height:auto; 
	text-align:center; 
	border: 1px solid #d2d2d3;
	outline: none;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	border-radius: 16px;
	overflow:hidden;
}

.round_wrapper2 { 
	display:block; 
	margin:0px;
	margin-bottom:10px; 
	padding:0px;
	width:100%;
	height:auto; 
	text-align:center; 
	border: 1px solid #d2d2d3;
	outline: none;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	overflow:hidden;
}


.gen_wrapper { 
	display:block; 
	margin:0px; 
	padding:0px;
	width:96%;
	height:auto; 
	text-align:center; 
	overflow:hidden;
}


.left_wrapper { display:block; padding:20px 15px 20px 15px; }
.right_wrapper { display:block; padding:20px 15px 20px 15px; }

.left_wrapper2 { display:block; padding:6px 6px 6px 15px; text-align:left; }
.right_wrapper2 { display:block; padding:6px 15px 7px 20px; text-align:left; }

.left_wrapper_rnd { 
	display:block; 
	padding:6px 6px 6px 10px;
	border: 1px #FFF solid;
	-moz-border-radius-bottomleft:8px;
	-webkit-border-bottom-left-radius:8px;
	border-bottom-left-radius:8px;
	-moz-border-radius-topleft:8px;
	-webkit-border-top-left-radius:8px;
	border-top-left-radius:8px;
	text-align:left; 
}
.right_wrapper_rnd { 
	display:block; 
	padding:6px 6px 6px 10px;
	border: 1px #FFF solid;
	-moz-border-radius-bottomright:8px;
	-webkit-border-bottom-right-radius:8px;
	border-bottom-right-radius:8px;
	-moz-border-radius-topright:8px;
	-webkit-border-top-right-radius:8px;
	border-top-right-radius:8px;
	text-align:left; 
}

.wrapper_nornd { 
	display:block; 
	padding:6px 6px 6px 6px;
	border: 1px #FFF solid;
	text-align:left; 
}


.bgdark { background:#444; }
.bglight { background:#FFF; }
.bg50 { background:none; }
.bgmed { background:#d2d2d3; }

.bgdark h4, .bgdark h6 { color:#FFF !important; }
.bg50 h4 { color:#888 !important; text-align:left; }

.sqyd { text-transform:uppercase; color:#999999; font-family: 'proxima_novasemibold', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size:11px; padding-left:6px; display:inline; height:auto; display:inline-block; }

#tabtitles .sqyd { padding-left:0px; }
#tabtitles h2.first { padding-left:24px; }
#tabtitles h2 { padding-left:20px; }

.directional_right { display:block; width:100%; height:34px; background: url('../../images/ui/directional_right.png') no-repeat center center; }
.directional_left { display:block; width:100%; height:34px; background: url('../../images/ui/directional_left.png') no-repeat center center; }

a.clearx_l { display:block; width:100%; height:34px; background: url('../../images/ui/clearx_pad.png') no-repeat center center; }


.section1 { 
	width:100%;
	height:auto;
	min-height:400px;
	margin:auto;
	padding:0px; 
	display:block; 
	background: #f0f0f0;
	/* IE10 */ 
	background-image: -ms-linear-gradient(top, #f1f0ec 0%, #f0f0f0 50%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #f1f0ec 0%, #f0f0f0 50%);
	/* Opera */ 
	background-image: -o-linear-gradient(top, #f1f0ec 0%, #f0f0f0 50%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f1f0ec), color-stop(1, #f0f0f0));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #f1f0ec 0%, #f0f0f0 50%);
	/* W3C Markup */ 
	background-image: linear-gradient(to bottom, #f1f0ec 0%, #f0f0f0 50%);
	
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#f1f0ec', EndColorStr='#f0f0f0'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f1f0ec', EndColorStr='#f0f0f0')"; /* IE8 */
}
.section2 { 
	width:100%;
	height:auto;
	min-height:400px;
	margin:auto;
	padding:0px; 
	display:block; 
	/*border-top:1px solid #e3e3e3;
	background:#e3e3e3 url('../../images/backgrounds/section2bg.jpg') no-repeat bottom center;*/
	
	background:url('../../images/backgrounds/shadow.png') repeat-x top;
	position:relative;
  }

/*
.mastercontainer {
	height:auto !important;
	height:100%;
	min-height:100%;
}
.push { display:block; height:30px; background:cyan; }
.footer { display:block; height:30px; }
*/

.factorbox { width:380px; margin:auto; display:block; }
.valuefields { width:322px; margin:0px; display:block; float:left; }
.profitmarks { width:58px; margin:auto; display:block; float:left; text-align:center; }

.lone { height:40px; min-height:40px; }

.datarow { display:block; width:100%; }
.datacell1 { display:block; width:280px; float:left; }
.datacell2 { display:block; width:156px; float:left; }
.datacell3 { display:block; width:75px; float:left; }
.datacell4 { display:block; width:164px; float:left; }
.datacell5 { display:block; width:164px; float:left; }
.datacell6 { display:block; width:38px; float:left; }

.spaced { margin-top:8px; }
.cellpad { padding: 8px 0px 8px 10px; }

#product_add, #products_remove { float:left; }
#data_export { float:right; display:none; }

#markbox, #marginbox { width:40% !important; }
#markbox { margin-left:30px; }

.calculation { font-family: 'proxima_nova_rgbold', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; color:#db0000; }


/* Make tabbed content invisible initially 
.mvisible { visibility:hidden; } */
.tmpvisible { opacity:0; }
.mobileonly { display:none; }


.mth { display:none; font-family: 'proxima_novasemibold', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; text-align:left; /*SET WIDTH*/ width:140px; /*background:cyan; float:left;*/ margin-right:10px; }
#calfactors_header { display:block; }


/* #Tabs
================================================== */

	#tabbar1, #tabbar2 {
		margin:auto;
		width:auto;
		height:30px;
		text-align:center;
		z-index:1400;
	}
	
	#tabbar1 {
		margin-top:-25px;
	}
	
	#tabbar2 {
		margin-top:-16px;
	}
	
	ul.tabs, ul.tabs2 {
		display:block;
		width:198px; /*Set width to center because li must float left */
		margin:auto;
		padding:0;
		border:none;
		background:none;
		}
		
	.tadjust1 { width:300px !important; }
		
	ul.tabs li, ul.tabs2 li {
		display:block;
		width:auto;
		padding:0px;
		margin:0px;
	  	width:50% !important;
		float:left;
		}
		
	ul.tabs li a, ul.tabs2 li a {
	  background: #FFF;
	  border: 1px solid #d2d2d3;
	  margin:0px !important;
	  width:100%;
	  color: #888;
	  display: inline-block;
	  font-size: 15px;
	  font-weight: normal;
	  text-decoration: none;
	  cursor: pointer;
	  line-height: 30px;
	  font-family: 'proxima_nova_rgregular', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		}
	ul.tabs li a.active, ul.tabs2 li a.active {
		margin:0px !important;
		background: #db0000;
		border: 1px solid #db0000;
		color:#FFF;
		
		}
	ul.tabs li:first-child a.active, ul.tabs2 li:first-child a.active {
		margin-left: 0px; }
	ul.tabs li:first-child a, ul.tabs2 li:first-child a {
		 }
	ul.tabs li:last-child a, ul.tabs2 li:last-child a {
		
		 }

	ul.tabs-content { margin: 0; display: block; }
	ul.tabs-content > li { display:none; }
	ul.tabs-content > li.active { display: block; }
	
	ul.tabs li a.right_round, ul.tabs2 li a.right_round {
		-moz-border-radius-topright:10px;
		-webkit-border-top-right-radius:10px;
		border-top-right-radius:10px;
		-moz-border-radius-bottomright:10px;
		-webkit-border-bottom-right-radius:10px;
		border-bottom-right-radius:10px;	
	}
	
	ul.tabs li a.left_round, ul.tabs2 li a.left_round {
		-moz-border-radius-topleft:10px;
		-webkit-border-top-left-radius:10px;
		border-top-left-radius:10px;
		-moz-border-radius-bottomleft:10px;
		-webkit-border-bottom-left-radius:10px;
		border-bottom-left-radius:10px;	
	}
	
	

	/* Clearfixing tabs for beautiful stacking */
	ul.tabs:before,
	ul.tabs:after {
	  content: '\0020';
	  display: block;
	  overflow: hidden;
	  visibility: hidden;
	  width: 0;
	  height: 0; }
	ul.tabs:after {
	  clear: both; }
	ul.tabs {
	  zoom: 1; }
	  
	ul.tabs2:before,
	ul.tabs2:after {
	  content: '\0020';
	  display: block;
	  overflow: hidden;
	  visibility: hidden;
	  width: 0;
	  height: 0; }
	ul.tabs2:after {
	  clear: both; }
	ul.tabs2 {
	  zoom: 1; }
	  
	  
/* #Grid View Alternate Styles
================================================== */
.tab_wrap { margin:0px; height:auto; min-height:110px; position:relative; }


/* Javascript Scrolls
==================================================*/
.contentscroll { margin:0px; width:100%; height:400px; padding:0px; overflow:auto; background:none; }

.scroll_l {
	direction:rtl;  /* Right To Left */ 
	text-align:left; /* Override direction */
}


/* basic scrollbar styling */
/* vertical scrollbar */
.mCSB_container{
	width:auto;
	margin-right:10px;
	overflow:hidden;
}
.mCSB_container.mCS_no_scrollbar{
	margin-right:0;
}
.mCS_disabled>.mCustomScrollBox>.mCSB_container.mCS_no_scrollbar,
.mCS_destroyed>.mCustomScrollBox>.mCSB_container.mCS_no_scrollbar{
	margin-right:30px;
}
.mCustomScrollBox>.mCSB_scrollTools{
	width:16px;
	height:100%;
	top:0;
	right:0;
}
.mCSB_scrollTools .mCSB_draggerContainer{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0; 
	height:auto;
}
.mCSB_scrollTools a+.mCSB_draggerContainer{
	margin:20px 0;
}
.mCSB_scrollTools .mCSB_draggerRail{
	width:2px;
	height:100%;
	margin:0 auto;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.mCSB_scrollTools .mCSB_dragger{
	cursor:pointer;
	width:100%;
	height:30px;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:4px;
	height:100%;
	margin:0 auto;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	text-align:center;
}
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown{
	display:block;
	position:relative;
	height:20px;
	overflow:hidden;
	margin:0 auto;
	cursor:pointer;
}
.mCSB_scrollTools .mCSB_buttonDown{
	top:100%;
	margin-top:-40px;
}
/* horizontal scrollbar */
.mCSB_horizontal>.mCSB_container{
	height:auto;
	margin-right:0;
	margin-bottom:30px;
	overflow:hidden;
}
.mCSB_horizontal>.mCSB_container.mCS_no_scrollbar{
	margin-bottom:0;
}
.mCS_disabled>.mCSB_horizontal>.mCSB_container.mCS_no_scrollbar,
.mCS_destroyed>.mCSB_horizontal>.mCSB_container.mCS_no_scrollbar{
	margin-right:0;
	margin-bottom:30px;
}
.mCSB_horizontal.mCustomScrollBox>.mCSB_scrollTools{
	width:100%;
	height:16px;
	top:auto;
	right:auto;
	bottom:0;
	left:0;
	overflow:hidden;
}
.mCSB_horizontal>.mCSB_scrollTools a+.mCSB_draggerContainer{
	margin:0 20px;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{
	width:100%;
	height:2px;
	margin:7px 0;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger{
	width:30px;
	height:100%;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:100%;
	height:4px;
	margin:6px auto;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_horizontal>.mCSB_scrollTools .mCSB_buttonRight{
	display:block;
	position:relative;
	width:20px;
	height:100%;
	overflow:hidden;
	margin:0 auto;
	cursor:pointer;
	float:left;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_buttonRight{
	margin-left:-40px;
	float:right;
}
.mCustomScrollBox{
	-ms-touch-action:none; /*MSPointer events - direct all pointer events to js*/
}

/* default scrollbar colors and backgrounds (default theme) */
.mCustomScrollBox>.mCSB_scrollTools{
	opacity:0.75;
	filter:"alpha(opacity=75)"; -ms-filter:"alpha(opacity=75)"; /* old ie */
}
.mCustomScrollBox:hover>.mCSB_scrollTools{
	opacity:1;
	filter:"alpha(opacity=100)"; -ms-filter:"alpha(opacity=100)"; /* old ie */
}
.mCSB_scrollTools .mCSB_draggerRail{
	background:#5e5c60; /* rgba fallback */
	background:rgba(0,0,0,0.4);
	filter:"alpha(opacity=40)"; -ms-filter:"alpha(opacity=40)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	background:#fff; /* rgba fallback */
	background:rgba(255,255,255,0.75);
	filter:"alpha(opacity=75)"; -ms-filter:"alpha(opacity=75)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background:rgba(255,255,255,0.85);
	filter:"alpha(opacity=85)"; -ms-filter:"alpha(opacity=85)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background:rgba(255,255,255,0.9);
	filter:"alpha(opacity=90)"; -ms-filter:"alpha(opacity=90)"; /* old ie */
}
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown,
.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_scrollTools .mCSB_buttonRight{
	background-image:url('../../images/ui/mCSB_buttons.png');
	background-repeat:no-repeat;
	opacity:0.4;
	filter:"alpha(opacity=40)"; -ms-filter:"alpha(opacity=40)"; /* old ie */
}
.mCSB_scrollTools .mCSB_buttonUp{
	background-position:0 0;
	/* 
	sprites locations are 0 0/-16px 0/-32px 0/-48px 0 (light) and -80px 0/-96px 0/-112px 0/-128px 0 (dark) 
	*/
}
.mCSB_scrollTools .mCSB_buttonDown{
	background-position:0 -20px;
	/* 
	sprites locations are 0 -20px/-16px -20px/-32px -20px/-48px -20px (light) and -80px -20px/-96px -20px/-112px -20px/-128px -20px (dark) 
	*/
}
.mCSB_scrollTools .mCSB_buttonLeft{
	background-position:0 -40px;
	/* 
	sprites locations are 0 -40px/-20px -40px/-40px -40px/-60px -40px (light) and -80px -40px/-100px -40px/-120px -40px/-140px -40px (dark) 
	*/
}
.mCSB_scrollTools .mCSB_buttonRight{
	background-position:0 -56px;
	/* 
	sprites locations are 0 -56px/-20px -56px/-40px -56px/-60px -56px (light) and -80px -56px/-100px -56px/-120px -56px/-140px -56px (dark) 
	*/
}
.mCSB_scrollTools .mCSB_buttonUp:hover,
.mCSB_scrollTools .mCSB_buttonDown:hover,
.mCSB_scrollTools .mCSB_buttonLeft:hover,
.mCSB_scrollTools .mCSB_buttonRight:hover{
	opacity:0.75;
	filter:"alpha(opacity=75)"; -ms-filter:"alpha(opacity=75)"; /* old ie */
}
.mCSB_scrollTools .mCSB_buttonUp:active,
.mCSB_scrollTools .mCSB_buttonDown:active,
.mCSB_scrollTools .mCSB_buttonLeft:active,
.mCSB_scrollTools .mCSB_buttonRight:active{
	opacity:0.9;
	filter:"alpha(opacity=90)"; -ms-filter:"alpha(opacity=90)"; /* old ie */
}

/*scrollbar themes*/
/*dark (dark colored scrollbar)*/
.mCS-dark>.mCSB_scrollTools .mCSB_draggerRail{
	background:#5e5c60; /* rgba fallback */
	background:rgba(0,0,0,0.15);
}
.mCS-dark>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	background:#5e5c60; /* rgba fallback */
	background:rgba(0,0,0,0.35);
}
.mCS-dark>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background:rgba(0,0,0,0.55);
}
.mCS-dark>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background:rgba(0,0,0,0.4);
}
.mCS-dark>.mCSB_scrollTools .mCSB_buttonUp{
	background-position:-80px 0;
}
.mCS-dark>.mCSB_scrollTools .mCSB_buttonDown{
	background-position:-80px -20px;
}
.mCS-dark>.mCSB_scrollTools .mCSB_buttonLeft{
	background-position:-80px -40px;
}
.mCS-dark>.mCSB_scrollTools .mCSB_buttonRight{
	background-position:-80px -56px;
}
/*light-2*/
.mCS-light-2>.mCSB_scrollTools .mCSB_draggerRail{
	width:4px;
	background:#fff; /* rgba fallback */
	background:rgba(255,255,255,0.1);
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
}
.mCS-light-2>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:4px;
	background:#fff; /* rgba fallback */
	background:rgba(255,255,255,0.75);
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
}
.mCS-light-2.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{
	width:100%;
	height:4px;
	margin:6px 0;
}
.mCS-light-2.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:100%;
	height:4px;
	margin:6px auto;
}
.mCS-light-2>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background:rgba(255,255,255,0.85);
}
.mCS-light-2>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-light-2>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background:rgba(255,255,255,0.9);
}
.mCS-light-2>.mCSB_scrollTools .mCSB_buttonUp{
	background-position:-32px 0;
}
.mCS-light-2>.mCSB_scrollTools .mCSB_buttonDown{
	background-position:-32px -20px;
}
.mCS-light-2>.mCSB_scrollTools .mCSB_buttonLeft{
	background-position:-40px -40px;
}
.mCS-light-2>.mCSB_scrollTools .mCSB_buttonRight{
	background-position:-40px -56px;
}
/*dark-2*/
.mCS-dark-2>.mCSB_scrollTools .mCSB_draggerRail{
	width:4px;
	background:#000; /* rgba fallback */
	background:rgba(0,0,0,0.1);
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
}
.mCS-dark-2>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:4px;
	background:#000; /* rgba fallback */
	background:rgba(0,0,0,0.25);
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
}
.mCS-dark-2.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{
	width:100%;
	height:4px;
	margin:6px 0;
}
.mCS-dark-2.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:100%;
	height:4px;
	margin:6px auto;
}
.mCS-dark-2>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background:rgba(0,0,0,0.55);
}
.mCS-dark-2>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark-2>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background:rgba(0,0,0,0.9);
}
.mCS-dark-2>.mCSB_scrollTools .mCSB_buttonUp{
	background-position:-112px 0;
}
.mCS-dark-2>.mCSB_scrollTools .mCSB_buttonDown{
	background-position:-112px -20px;
}
.mCS-dark-2>.mCSB_scrollTools .mCSB_buttonLeft{
	background-position:-120px -40px;
}
.mCS-dark-2>.mCSB_scrollTools .mCSB_buttonRight{
	background-position:-120px -56px;
}
/*light-thick*/
.mCS-light-thick>.mCSB_scrollTools .mCSB_draggerRail{
	width:4px;
	background:#fff; /* rgba fallback */
	background:rgba(255,255,255,0.1);
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}
.mCS-light-thick>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:6px;
	background:#fff; /* rgba fallback */
	background:rgba(255,255,255,0.75);
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}
.mCS-light-thick.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{
	width:100%;
	height:4px;
	margin:6px 0;
}
.mCS-light-thick.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:100%;
	height:6px;
	margin:5px auto;
}
.mCS-light-thick>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background:rgba(255,255,255,0.85);
}
.mCS-light-thick>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-light-thick>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background:rgba(255,255,255,0.9);
}
.mCS-light-thick>.mCSB_scrollTools .mCSB_buttonUp{
	background-position:-16px 0;
}
.mCS-light-thick>.mCSB_scrollTools .mCSB_buttonDown{
	background-position:-16px -20px;
}
.mCS-light-thick>.mCSB_scrollTools .mCSB_buttonLeft{
	background-position:-20px -40px;
}
.mCS-light-thick>.mCSB_scrollTools .mCSB_buttonRight{
	background-position:-20px -56px;
}
/*dark-thick*/
.mCS-dark-thick>.mCSB_scrollTools .mCSB_draggerRail{
	width:4px;
	background:#000; /* rgba fallback */
	background:rgba(0,0,0,0.1);
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}
.mCS-dark-thick>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:6px;
	background:#000; /* rgba fallback */
	background:rgba(0,0,0,0.15);
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}
.mCS-dark-thick.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{
	width:100%;
	height:4px;
	margin:6px 0;
}
.mCS-dark-thick.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:100%;
	height:6px;
	margin:5px auto;
}
.mCS-dark-thick>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background:rgba(0,0,0,0.25);
}
.mCS-dark-thick>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark-thick>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background:rgba(0,0,0,0.3);
}
.mCS-dark-thick>.mCSB_scrollTools .mCSB_buttonUp{
	background-position:-96px 0;
}
.mCS-dark-thick>.mCSB_scrollTools .mCSB_buttonDown{
	background-position:-96px -20px;
}
.mCS-dark-thick>.mCSB_scrollTools .mCSB_buttonLeft{
	background-position:-100px -40px;
}
.mCS-dark-thick>.mCSB_scrollTools .mCSB_buttonRight{
	background-position:-100px -56px;
}
/*light-thin*/
.mCS-light-thin>.mCSB_scrollTools .mCSB_draggerRail{
	background:#5e5c60; /* rgba fallback */
	background:rgba(255,255,255,0.1);
}
.mCS-light-thin>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:2px;
}
.mCS-light-thin.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{
	width:100%;
}
.mCS-light-thin.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:100%;
	height:2px;
	margin:7px auto;
}
/*dark-thin*/
.mCS-dark-thin>.mCSB_scrollTools .mCSB_draggerRail{
	background:#000; /* rgba fallback */
	background:rgba(0,0,0,0.15);
}
.mCS-dark-thin>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:2px;
	background:#000; /* rgba fallback */
	background:rgba(0,0,0,0.25);
}
.mCS-dark-thin.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{
	width:100%;
}
.mCS-dark-thin.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:100%;
	height:2px;
	margin:7px auto;
}
.mCS-dark-thin>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background:rgba(0,0,0,0.85);
}
.mCS-dark-thin>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark-thin>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background:rgba(0,0,0,0.9);
}
.mCS-dark-thin>.mCSB_scrollTools .mCSB_buttonUp{
	background-position:-80px 0;
}
.mCS-dark-thin>.mCSB_scrollTools .mCSB_buttonDown{
	background-position:-80px -20px;
}
.mCS-dark-thin>.mCSB_scrollTools .mCSB_buttonLeft{
	background-position:-80px -40px;
}
.mCS-dark-thin>.mCSB_scrollTools .mCSB_buttonRight{
	background-position:-80px -56px;
}













/* BEGIN MEDIA QUERY STYLES
==================================================*/
/* Larger screen sizes */
@media (min-width: 1500px) {
	
}


/* Large screen sizes */
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
	
}


/* Typical screen size and tablet landscape */
@media only screen and (min-width: 960px) and (max-width: 1199px) {
	
}


/* Tablet portrait */
@media (min-width: 768px) and (max-width: 959px) {
	
	.contentscroll { margin:0px; width:100%; height:660px; padding:0px; overflow:auto; background:none; }

	.item_name { display:block; width:443px; }
	.namedit_wrapper { width:443px; display:none; position:absolute; top:0px; left:0px; z-index:1300; }
	input[type="text"].namedit {
		margin: 0;
		margin-left:2px;
		width: 417px;
		max-width: 100%;
	}
	
	#markbox, #marginbox { width:50% !important; }
	#markbox { margin-left:0px; }
	
	.factorbox { width:380px; margin:auto; display:block; }
	.valuefields { width:322px; margin:0px; display:block; float:left; }
	.profitmarks { width:58px; margin:auto; display:block; float:left; text-align:center; }
	
	.lone { height:40px; min-height:40px; }
	
	.datarow { display:block; width:100%; }
	.datacell1 { display:block; width:236px; float:left; }
	.datacell2 { display:block; width:106px; float:left; }
	.datacell3 { display:block; width:75px; float:left; }
	.datacell4 { display:block; width:114px; float:left; }
	.datacell5 { display:block; width:114px; float:left; }
	.datacell6 { display:block; width:38px; float:left; }
}


/* Mobile display */
@media only screen and (min-width: 320px) and (max-width: 767px) {
	
	.contentscroll { margin:0px; width:100%; height:160px; padding:0px; overflow:auto; background:none; }

	.mobileonly { display:block; }
	#tabtitles { display:none; }
	
	.content_wrapper { padding:10px 10px 10px 10px; margin:auto; }
	#profile_manager, #calculator { margin-bottom:0px; margin:0px; }
	
	.list_title { 
		display:block; 
		position:relative; 
		width:auto; 
		height:auto; 
		margin:auto; 
		margin-top:120px; 
		padding:15px 10px 15px 10px; 
		background:#a80000; 
		border: 2px #a80000 solid;
		-moz-border-radius-topleft:16px;
		-webkit-border-top-left-radius:16px;
		border-top-left-radius:16px;
		-moz-border-radius-topright:16px;
		-webkit-border-top-right-radius:16px;
		border-top-right-radius:16px;
	}
	
	.list_title { text-align:center; }
	.list_title .left  { float: none; }
	
	input[type="text"].mput {
		border: 1px solid #db0000;
		padding: 6px 6px;
		outline: none;
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
		border-radius: 8px;
		color: #a80000;
		margin:0px;
		width:95%;
		max-width:95%;
		display: block;
		background: #db0000;
		-webkit-appearance: none; }
		
	input[type="text"]:focus.mput {
		border: 1px solid #FFFFFF;
 		color: #444;
		background: #FFFFFF;
 		-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
		-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
		box-shadow:  0 0 3px rgba(0,0,0,.2); }
		
	.addit { display:block; background:url('../../images/ui/addit.png') no-repeat; width:30px; height:30px; position:absolute; top:46px; right:25px; z-index:1100; }
	
	.list_item { display:block; clear:both; width:99%; height:75px; margin:auto; margin-top:10px; margin-bottom:10px; padding-top:2px; position:relative; border: 1px solid #c50202;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px; 
	}

	.item_name { display:block; width:99%; }
	.item_name h2 { color:#FFFFFF; font-family: 'proxima_nova_rgregular', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size:18px; line-height:30px; margin:0px; margin-left:4px; padding:0px; padding-left:15px; background-color:none; z-index:1200;}
	
	.item_name .active { 
	background-color:#c50202; 
	/*background-image:url('../../images/ui/item_selectedv2.png'); background-repeat:no-repeat;*/
	border: 1px solid #c50202;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	 }
	 
	.namedit_wrapper { width:auto; display:none; position:absolute; top:0px; left:0px; z-index:1300; }
	.fit30 { margin-bottom:0px; }

	input[type="text"].namedit {
		border: 1px solid #FFFFFF;
		padding: 1% 1%;
		padding-left:20px;
		font-size:18px;
		outline: none;
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
		border-radius: 8px;
		color: #444;
		margin: 0;
		margin-left:2px;
		width:100%;
		max-width:100%;
		display: block;
		background: #FFFFFF;
		-webkit-appearance: none; }
		
	input[type="text"]:focus.namedit {
		border: 1px solid #FFFFFF;
 		color: #444;
		background: #FFFFFF; }

	.applyit { display:block; background:url('../../images/ui/item_selected.png') no-repeat; width:24px; height:30px; position:absolute; top:2px; right:0px; z-index:1400; }

	.edt_controls_wrapper { width:100%; display:block; position:absolute; top:36px; right:0px; z-index:1100; }

	#button_edt_pro { float:left !important; }
	#button_edt_x { float:right !important; }
	
	.mCSB_container{
	width:auto;
	margin-right:20px;
	overflow:hidden;
}
		
	
	.droptab { 
		display:block; 
		min-width:230px; 
		width:auto; 
		height:62px; 
		background:#db0000; 
		clear:both; 
		float:none;
		border:1px solid #db0000;
		-moz-border-radius-bottomleft:16px;
		-webkit-border-bottom-left-radius:16px;
		border-bottom-left-radius:16px;
		-moz-border-radius-bottomright:16px;
		-webkit-border-bottom-right-radius:16px;
		border-bottom-right-radius:16px;
		position:relative;
		margin-right:15px;
		margin-left:15px;
		 }
		 
	#masthead { margin-top:90px; }
	.logo_msthd {  float:left; width:107px; height:28px; margin-right:13px; margin-left:10px; }
	
	.content { display:block; margin:10px 15px 10px 15px; width:auto; height:auto; }
	.subcontent { display:block; margin:10px 0px 10px 0px; width:auto; height:auto; }
	
	h5 { text-align:center; }
	
	.half2full { width:100%; }
	
	#markbox, #marginbox { width:50% !important; }
	#markbox { margin-left:0px; }
	
	#tabbar1 {
		margin-top:8px;
	}
	
	/* Mobile space adjustments */
	#tighten { display:block; height:2px !important; }
	
	.sqyd { padding-left:0px; height:auto; display:inline; }
	
	.mth { display:inline; font-family: 'proxima_novasemibold', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; text-align:left; /*SET WIDTH*/ width:140px; /*background:cyan; float:left;*/ margin-right:10px; }
	
	.left_wrapper_rnd, .right_wrapper_rnd, .wrapper_nornd { 
	display:block; 
	padding:6px 6px 6px 10px;
	border: 1px #FFF solid;
	-moz-border-radius-bottomleft:8px;
	-webkit-border-bottom-left-radius:8px;
	border-bottom-left-radius:8px;
	-moz-border-radius-topleft:8px;
	-webkit-border-top-left-radius:8px;
	border-top-left-radius:8px;
	
	-moz-border-radius-bottomright:8px;
	-webkit-border-bottom-right-radius:8px;
	border-bottom-right-radius:8px;
	-moz-border-radius-topright:8px;
	-webkit-border-top-right-radius:8px;
	border-top-right-radius:8px;
	text-align:left; 
	}
	
	.cellpad { padding: 8px 10px 8px 10px; text-align:left; }
	#calfactors_header { display:none; }
	
	
	datarow { display:block; width:100%; }
	.datacell1 { display:block; width:100%; float:none; }
	.datacell2 { display:block; width:100%; float:none; }
	.datacell3 { display:block; width:100%; float:none; /*background:rgba(0,0,0,.1);*/ }
	.datacell4 { display:block; width:154px; float:left; }
	.datacell5 { display:block; width:106px; float:left; }
	.datacell6 { display:block; width:30px; float:right; margin-top:24px; }
	
	.datacell2 .cellpad { padding: 8px 10px 10px 10px; text-align:left; }
	.datacell3 .cellpad { padding: 2px 4px 2px 4px; text-align:left; }
	.datacell4 .cellpad { padding: 8px 10px 15px 10px; text-align:left; }
	.datacell5 .cellpad { padding: 8px 4px 15px 4px; text-align:left; }
	.datacell6 .cellpad { padding: 8px 0px 15px 0px; text-align:left; }
	
	.directional_right { display:block; width:100%; height:24px; background: url('../../images/ui/directional_down.png') no-repeat center center; }
	
	a.clearx_l { display:block; width:100%; height:33px; background:url('../../images/ui/clearx.png') no-repeat 4px 8px; }
	
	
	
	#rtow .datacell1 { display:block; width:100%; float:none; }
	#rtow .datacell2 { display:block; width:154px; float:left; }
	#rtow .datacell3 { clear:both; display:block; width:100%; float:none; }
	#rtow .datacell4 { display:block; width:124px; float:left; }
	#rtow .datacell5 { display:block; width:260px; float:left; }
	
	#rtow .datacell2 .cellpad { padding: 8px 10px 10px 10px; text-align:left; }
	#rtow .datacell4 .cellpad { padding: 8px 10px 10px 10px; text-align:left; }
	#rtow .datacell3 .cellpad { padding: 2px 4px 2px 4px; text-align:left; }
	#rtow .datacell5 .cellpad { padding: 8px 10px 15px 10px; text-align:left; }
	#rtow .datacell6 .cellpad { padding: 8px 0px 15px 0px; text-align:left; }
	
	.factorbox { width:100%; margin:auto; display:block; }
	.valuefields { width:300px; margin:0px; display:block; float:none; }
	.profitmarks { clear:both; width:auto; margin:0px; margin-bottom:10px; display:block; float:right; text-align:right; }
	.profitmarks h5 { display:block; height:32px; line-height:32px; margin:0px; margin-right:8px; padding:0px; float:left; }
	
	.clearx { background: #d2d2d3 url('../../images/ui/clearx_pad.png') no-repeat right center !important; padding: 8px 38px 8px 21px !important; }
}